@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.favCardWrapper{
    box-sizing: border-box;
    padding: 16px 8px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
}
.favCardImg{
    width: 80px;
    height: 80px;
}
.favCardImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.favCardInfo{
    font-family: "Inter", sans-serif;
    height: 80px;
    width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.artLink{
    text-decoration: none;
    color: black;
}
.artLink h1{
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    line-height: 26px;
    max-height: 26px;
}
.favCardInfo>p{
    font-family: "Inter", sans-serif;
    color: #E0A449;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    overflow: hidden;
    max-height: 26px;
    cursor: default;
}
.favCardInfo div{
    margin-top: 8px;
}
.artCardType{
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    cursor: default;
    overflow: hidden;
}
.favIcon{
    cursor: pointer;
    box-sizing: border-box;
    height: 59px;
    width: 59px;
    background-color:rgb(255, 255, 255);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favIcon svg{
    cursor: pointer;
}
@media (max-width: 830px) {
    .favCardWrapper{
        width: 100%;
        justify-content: space-between;
    }
    .favCardInfo{
        height: 80px;
        width: calc(100% - 180px);
    }
    .favCardInfo>p{      
        line-height: 20px;
    }
}

@media (max-width: 450px) {
    .favCardImg{
        width: 70px;
        height: 70px;
    }
    .artLink h1{
        font-size: 14px;
        line-height: 16px;
        max-height: 16px;
    }
    .favCardInfo{
        height: 80px;
        width: calc(100% - 130px);
    }
    .favCardInfo>p{
        font-size: 13px;
        line-height: 15px;
    }
    .artCardType{
        font-size: 12px;
        line-height: 12px;
    }
    .favCardInfo{
        height: 70px;
    }
    .favIcon{
        height: 39px;
        width: 39px;
    }
    .favCardWrapper{
        gap: 10px
    }
}
